body {
  background-color: #282c34;
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #21252b;
  padding: 15px 10px 10px 10px;
  top: 0;
  z-index: 2;
  box-shadow: -3px 5px 10px black;
  /*box-shadow: 0px 2px #000000;*/
}

nav {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #21252b;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 14px 16px;
  color: #e51b23;
  font-family: Verdana,sans-serif;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: #111111;
}

.footer {
  background-color: #21252b;
  padding: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  padding-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}
.footer a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}

.main {
  height:95vh;
  padding: 5px 20px 20px 20px;
}

.content {
  position: relative;
  top: 72px;
}

.main h1 {
  font-family: Verdana,sans-serif;
  color: white;
}

.main h2 {
  font-family: Verdana,sans-serif;
  color: black;
}

.main h3 {
  font-family: Verdana,sans-serif;
  color: black;
}

.main a {
  color: white;
}
